html {
  height: 100%;
  width: 100%;
}

text {
  font-family: "Lucida Console", "Courier New", monospace;
}

.topnav {
  overflow: hidden;
}

body {
  background-color: #1b1b1b;
}

/* Style the links inside the navigation bar */
.topnav a {
  font-family: "Lucida Console", "Courier New", monospace;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.topnav-right {
  float: right;
}

.image-container {
  padding-top: 170px;
  display: flex;
  justify-content: center; 
  size: 120%;
}

.image2-container {
  padding-bottom: 30px;
  display: flex;
  justify-content: center; 
  size: 120%;
}

.image-container mainpage {
  animation: jiggle 2s infinite;
}

@keyframes jiggle {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(2deg); }
  20% { transform: rotate(-2deg); }
  30% { transform: rotate(2deg); }
  40% { transform: rotate(-2deg); }
  50% { transform: rotate(1deg); }
  60% { transform: rotate(-1deg); }
  70% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}